
body {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin: 0;
    padding: 0;
	background-image:url("../img/Download free image of Old paper texture, beige background, simple design by Teddy about old paper texture, paper texture, old paper, paper, and vintage paper 6165224.jpg")
}

header {
    background-color: #207178;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #207178;
    box-sizing: border-box;
}

.project img {
    max-width: 100%;
}

.project h2 {
    margin-top: 0;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: #dc6378;
    background-color: #edeccf;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #edeccf;
}


/* CSS Document *